<?xml version="1.0" encoding="UTF-8"?>
<customUI xmlns="http://schemas.microsoft.com/office/2009/07/customui" onLoad="Ribbon_Load">
  <ribbon>
    <tabs>
      <tab idMso="TabAddIns" label="VTab">
        <group id="General"
               label="General">
          <toggleButton id="chkVisibility" label="Hide" onAction="chkVisibility_Changed"/>
        </group>
      </tab>
    </tabs>
  </ribbon>
</customUI>

