<?xml version="1.0" encoding="UTF-8"?>
<customUI xmlns="http://schemas.microsoft.com/office/2009/07/customui" onLoad="Ribbon_Load">
  <ribbon>
    <tabs>
      <tab idMso="TabAddIns" label="VTab">
        <group id="General"
               label="VerticalTab">
          <toggleButton id="chkVisibility" size="large" label="Hide" onAction="chkVisibility_Changed" imageMso="DiagramReverseClassic"/>
          <button id="cmdRefresh" size="large" label="Refresh" onAction="cmdRefresh_Click" imageMso="RecurrenceEdit"/>
        </group>
      </tab>
    </tabs>
  </ribbon>
</customUI>

